{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<br>
<div class="container pb-2 pt-2 border rounded container-custom">
  {% load crispy_forms_tags %}
  <h1 class="display-4 fw-bold lh-1">Login</h1>

  <form method="POST" class="form-group">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-success">LOGIN</button>

  </form>
  <div class="row d-flex justify-content-between">
    <div class="mb-3">
      <p>Don't have an account? <span class="ml-4"><a class="btn btn-outline-dark"
            href="{% url 'image:register' %}">Sign up
            now!</a></span>
      </p>
    </div>

    <div class="mr-2">
      <p>Can't remember your password? <span class="ml-4"><a class="btn btn-outline-dark"
            href="{% url 'image:reset_password' %}">Reset
            Password.</a></span></p>
    </div>
  </div>
</div>
<br>
{% endblock content %}