@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato, sans-serif;
}


/* .....................login page and registration page */

.login-container {
  font-family: Lato, sans-serif;
  border: solid .25px #f5f5f5;
  color: #EFEFEF;
  border-radius: 10px;
  padding: 10px;
}

.register-container {
  font-family: Lato, sans-serif;
  border: solid .25px #f5f5f5;
  color: #EFEFEF;
  border-radius: 10px;
  padding: 10px;
}

.password-container {
  font-family: Lato, sans-serif;
  border: solid .25px #f5f5f5;
  color: #EFEFEF;
  border-radius: 10px;
  padding: 10px;
  margin: 50px 35px 50px 35px;
}

/* .....................Feed page grid */
body {
  background-color: rgb(0, 0, 0);
}

.row {
  margin: 0px;
  width: 100%;
}

img {
  width: 100%;
}

/* with flexbox */
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.grid-item {
  margin: .5em .25em .5em .25em;
}

.grid-col {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  width: 100%;
}

/* 2 columns by default, hide columns 2 & 3 */
.grid-col--2,
.grid-col--3 {
  display: none
}

/* 3 columns at medium size */
@media (min-width: 768px) {
  .grid-col--2 {
    display: block;
  }

  /* show column 2 */
}

/* 4 columns at large size */
@media (min-width: 1080px) {
  .grid-col--3 {
    display: block;
  }

  /* show column 3 */
}

.container-fluid {
  padding: 0;
}


/* ......................image details page */
.image-details-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.image-details-title {
  color: #f5f5f5;
  margin-top: 10px;
}

.image-details-content {
  color: #EFEFEF;
}

.image-details-divder {
  border-top: 1px solid #dbd9d9;
}

.comment-form-div {
  font-family: Lato, sans-serif;
  border: solid .25px #f5f5f5;
  color: #EFEFEF;
  border-radius: 10px;
  padding: 10px;
}


/* ................................navbar */

.navbar-brand {
  color: #EFEFEF;
}

.navigation-section {
  font-family: Lato, sans-serif;
  border-bottom: solid .5px #EFEFEF;
}

#main-content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.comments-box {
  font-family: Lato, sans-serif;
  border: solid .25px #f5f5f5;
  color: #EFEFEF;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

.ind-comments-box {
  border-bottom: 1px solid #f5f5f5;
}

.like-buttons {
  color: #EFEFEF;
}

.tag-links {
  color: #EFEFEF;
  font-style: italic;
}

.tag-links:hover {
  color: #EFEFEF;
}

.upload-a-photo {
  font-family: Lato, sans-serif;
  border: solid .25px #f5f5f5;
  color: #EFEFEF;
  border-radius: 10px;
  padding: 5px;
}

.editing-buttons {
  color: #EFEFEF;
  padding: 10px 25px 10px 25px;
  border: solid 1px #EFEFEF;
}

.editing-buttons:hover {
  text-decoration: none;
  color: #343a40;
  background-color: #EFEFEF;
}

.comment-body {
  border-bottom: #EFEFEF solid 1px;
}