<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>
    {% block title %} Home {% endblock %}
 </title>
</head>

<body>
  <header>
    {% if user.is_authenticated %}
    <div class="container-fluid border-bottom ">
      
      <nav class="navbar navbar-expand-lg navbar-light nav-text">

        <a class="navbar-brand" href="{% url 'image:list' %}">
          <h1 class = "site-title">PHOTO SHARING SITE</h1>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
          aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active">Hi {{ user.username }}!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'image:list' %}">Main Feed <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'image:user_feed' %}">My Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span class="sr-only"></span></a>
            </li>
          </ul>

          <form class="form-inline my-2 my-lg-0" method=POST action="{% url 'image:search_results' %}">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search Images" aria-label="Search"
              name="searched">
            <button class="btn btn-outline-dark my-2 my-sm-0 mr-2" type="submit">Search</button>
          </form>

          <a class="btn btn-outline-dark my-2 my-sm-0 mr-2" href="{% url 'image:create' %}">Upload Image</a>
          <div class="log-out-button"><a class="btn btn-outline-dark my-2 my-sm-0" href="{% url 'account_logout' %}">Log
              Out</a>
          </div>
      </nav>
    </div>
      {% else %}
    <div class="container-fluid border-bottom">
      <nav class="navbar navbar-expand-lg navbar-light nav-text">
        <a class="navbar-brand" href="{% url 'image:list' %}">
          <h1 class = "site-title">PHOTO SHARING SITE</h1>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
          aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Log In <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">Sign Up <span class="sr-only"></span></a>
            </li>
          </ul>
        </div>

        {% endif %}
      </nav>  
  </div>
    

  </header>

  <section class="pr-3 pl-3 pt-1 pb-1">

    {% block content %}{% endblock content %}

  </section>

  <footer class="container-fluid text-center text-dark border-top border-dark">
    <div class="container p-4 pb-0">
      <section class="mb-2">
        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/" target="_blank"
          role="button"><i class="fab fa-facebook-f"></i></a>

        <a class="btn btn-outline-dark btn-floating m-1" href="https://twitter.com/" target="_blank" role="button"><i
            class="fab fa-twitter"></i></a>

        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.google.com/" target="_blank" role="button"><i
            class="fab fa-google"></i></a>

        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/?hl=en" target="_blank"
          role="button"><i class="fab fa-instagram"></i></a>

        <a class="btn btn-outline-dark btn-floating m-1" href="https://www.linkedin.com/" target="_blank"
          role="button"><i class="fab fa-linkedin-in"></i></a>

        <a class="btn btn-outline-dark btn-floating m-1" href="https://github.com/" target="_blank" role="button"><i
            class="fab fa-github"></i></a>
      </section>

      <div class="text-center">
        <p>© 2022 Copyright Photo Sharing Site</p>
      </div>
    </div>
  </footer>


  <!--Icons-->

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <script src="https://unpkg.com/colcade@0/colcade.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  {% load static %}
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>