{% extends "base.html" %}

{% block title %}{{image.title}} by {{image.author}}{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="row mt-2">
    <div class="col-sm-8 pr-2">
        <img class="border rounded" src=" {{ image.featured_image.url }}" alt = "{{ image.title }}" style="width: 100%;">
    </div>
    <div class="col-sm-4 border rounded container-custom">
        <h2 class="image-details-title">{{ image.title }}</h2>
        <hr class="image-details-divder">

    {% if user.is_authenticated  %}
        <div class="d-flex flex-row mb-0">

            
            <div class="like-btn">
                <form action="{% url 'image:like_post' image.pk %}" method="POST">
                    {% csrf_token %}

                    {% if request.user in image.likes.all %}
                    <div class="d-flex flex-row">
                        <div class="mr-2"><button type="submit" name="image_id" value="{{ image.id }}"
                                class="btn btn-outline-dark btn-sm pt-2">
                                <ion-icon class="" name="heart"></ion-icon>
                            </button>
                        </div>
                        <div>
                            <p class="image-details-content">You have liked this picture.</p>
                        </div>
                    </div>
                    
                    {% else %}
                    <div class="">
                    <button type="submit" name="image_id" value="{{ image.id }}" class="pt-2 btn btn-outline-dark btn-sm">
                        <ion-icon name="heart-outline"></ion-icon>
                    </button>
                    </div>             
                   
                </form>
                 
                {% endif %}
            </div>
            
        </div>    
            {% else %}
            <p class="image-details-content"><small><i>Please log in to like this image.</i></small>

            {% endif %}
        <hr class="image-details-divder">
        <p class="image-details-content">{{ image.description }}</p>
        <p class="image-details-content"><small>Uploaded by <i>{{ image.author }}</i> on {{ image.created_on }}</small>
        </p>
        <hr class="image-details-divder">
        <div class="num-of-likes">
            <p class="image-details-content">This picture has been liked <strong>{{ image.likes.count }}</strong>
                times.</p>
        </div>
        <hr class="image-details-divder">
        <p class="image-details-content">Image tags:
            {% for tag in image.tags.all %}
            <a href="{% url 'image:tag' tag.slug %}" class="badge badge-pill badge-light p-2">{{tag.name}}</a>,
            {% endfor %}
        </p>
        <hr class="image-details-divder">

    </div>
</div>


<div class="container-fluid pb-2 pt-2 border rounded container-custom mt-3 mb-3" style=" width: 95%;">

    <div class="comment-title col-sm">
        <h2>Comments</h2>
    </div>
    {% if user.is_authenticated  %}
    <div class="comments-details pl-3">

        {% if not image.comments.all %}
        <strong>There are no comments yet. Be the first by clicking below!</strong>
        {% else %}
        {% for comment in image.comments.all  %}
        <br>
        <div class="comment-body">
            <strong>{{ comment.body }}</strong>
            <p class="font-italic"><small>Comment added on {{ comment.created_on }} by {{ comment.author }}</small></p>
        </div>
        {% endfor %}
        {% endif %}

    </div>
    <div class="comment-link col-sm mb-3 mt-3"><a class="btn btn-outline-dark"
            href="{% url 'image:add_comment' image.pk %}">Add a
            comment</a></div>
    {% else %}
    <p class="pl-3">You must be logged in to view comments</p>
    {% endif %}
</div>

{%endblock%}