{% extends "base2.html" %}

{% block title %}Photo Sharing Site{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}

      <h1 class="display-4 fw-bold lh-1">Simple Photo Sharing Site</h1>
      <p class="lead">Share your beautiful pictures with the world by using our simple, no-nonsense platform.  </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" onclick="location.href='{% url 'login' %}';">Log in</button>
        </div>

          <div>
            <p>Don't have an account? <a href="{% url 'register' %}">Sign up now!</a></p>
          </div>
{%  endblock content %}