{% extends "base.html" %}

{% block content %}
<title>Sign Up Now</title>

<br>
<div class="container pb-2 pt-2 border rounded container-custom">
	{% load crispy_forms_tags %}

	<h1 class="display-4 fw-bold lh-1">Sign up now</h1>

	<div>
		<form method="POST" class="signupform">
			{% csrf_token %}
			{{ form|crispy }}
			<button class="btn btn-primary" type="submit">Register</button>
		</form>
	</div>
	<div class="mt-4">
		<p>If you already have an account, login here: <a class="btn btn-success btn-sm"
				href="{% url 'image:login' %}">Log
				In</a>
		</p>
	</div>
</div>
<br>

{% endblock content %}