{% extends "base.html" %}

{% block title %}{{image.title}} by {{image.author}}{% endblock %}


{% block content %}
<div class="row mt-2">
    <div class="col-sm-8 pr-2">
        <img class="border rounded" src=" {{ image.featured_image.url }}" alt="{{ image.title }}">
    </div>
    <div class="col-sm-4 border rounded container-custom">
        <h2 class="image-details-title">{{ image.title }}</h2>
        <hr class="image-details-divder">
        <div class="text-center">
            {% if image.status == 1 %}
            <p class="text-success">This image has been published to the live feed.</p>
            {% else %}
            <p class="text-danger">This image is still a 'draft' and is visible only to you. </p>
            <p class="text-danger">Comments are disabled until the image is published.</p>
            <p class="text-danger">Click on 'Edit Image' and change the status to 'Published' to publish your image.</p>
            {% endif %}
        </div>
        <hr class="image-details-divder">
        <p class="image-details-content">{{ image.description }}</p>
        <hr class="image-details-divder">
        <p class="image-details-content"><small>Uploaded on {{ image.created_on }}</small></p>
        <div class="num-of-likes">
            <p class="image-details-content">This picture has been liked <strong>{{ image.likes.count }}</strong>
                times.</p>
        </div>
        <hr class="image-details-divder">
        <p class="image-details-content">Image tags:
            {% for tag in image.tags.all %}
            <a href="{% url 'image:tag' tag.slug %}" class="badge badge-pill badge-light p-2">{{tag.name}}</a>,
            {% endfor %}
        </p>
        <hr class="image-details-divder">
        <div class="row d-flex justify-content-between pb-3">
            <p class="image-details-content">Options:
                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-dark" href="{% url 'image:update' image.pk %}">Edit Image</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-dark" href="{% url 'image:delete' image.pk %}">Delete Image</a>
                </div>
        </div>
    </div>
</div>
{% if image.status == 1 %}
<div class="container-fluid pb-2 pt-2 border rounded container-custom my-3">
    <div class="comment-title col-sm">
        <h2>Comments</h2>
    </div>
    <div class="comments-details pl-3">
        {% if not image.comments.all %}
        <strong>There are no comments yet. Be the first by clicking below!</strong>
        {% else %}
        {% for comment in image.comments.all  %}
        <br>
        <div class="comment-body">
            <strong>{{ comment.body }}</strong>
            <p class="font-italic"><small>Comment added on {{ comment.created_on }} by {{ comment.author }}</small></p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="comment-link col-sm mb-3 mt-3"><a class="btn btn-outline-dark"
            href="{% url 'image:add_comment' image.pk %}">Add a
            comment</a></div>
</div>
{% else %}
{% endif %}
{% endblock %}